{% extends "header.html" %}

{% block content %}

    <form method="POST" action="">
        <select name="country">
            <option selected> </option>
            {% for item in list_countries %}
                <option> {{ item }} </option>
            {% endfor %}
        </select>

    <input type='submit' name='submit'>
    </form>


    {% for i in folder %}
        <img src="/static/Countries/{{ country }}/{{ i }}" height="300" width="300">
        <p> {{ i }} </p>
    {% endfor %}


{% endblock %}
